@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    background-color: #F8F8FF;
}

header {
    background-color: #8B0000;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}